<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="menufilters" type="ADB.SA.Reports.Configuration.MenuFilterSection, ADB.SA.Reports.Configuration"/>
    <section name="initDiagrams" type="ADB.SA.Reports.Configuration.AsIsDiagramSection, ADB.SA.Reports.Configuration"/>
    <section name="menuOrders" type="ADB.SA.Reports.Configuration.MenuOrderSection, ADB.SA.Reports.Configuration"/>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="sa_web_logs.log" footer="----------------------------------------" formatter="" header="----------------------------------------" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="0" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Rolling Flat File Trace Listener"/>
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xA;Message: {message}&#xA;Category: {category}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;Application Domain: {appDomain}&#xA;Process Id: {processId}&#xA;Process Name: {processName}&#xA;Win32 Thread Id: {win32ThreadId}&#xA;Thread Name: {threadName}&#xA;Extended Properties: {dictionary({key} - {value}&#xA;)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="General">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add logCategory="General" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" priority="0" useDefaultLogger="false" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Logging Handler"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <connectionStrings>
    <add name="Comments" connectionString="Data Source=WPSQL2\SA;Initial Catalog=SAComments-Tobe;uid=sa-admin;pwd=s@-@dm1n;" providerName="System.Data.SqlClient"/>
    <add name="Publisher" connectionString="Data Source=WPSQL2\SA;Initial Catalog=Asis-Process;uid=sa-admin;pwd=s@-@dm1n;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <cachingConfiguration defaultCacheManager="DefaultCache">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="DefaultCache"/>
    </cacheManagers>
    <backingStores>
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Null Storage"/>
    </backingStores>
  </cachingConfiguration>
  <appSettings>
    <add key="HOME_DESCRIPTION" value="A ''business process'' is defined as an end-to-end work which delivers value to clients. The notion of end-to-end work is critical as it involves all of the work, crossing any functional boundaries, necessary to completely deliver customer value (Source: ABPMP, 2013)."/>
    <add key="MAPPINGTOOL_URL" value="http://wpbpm2.asiandevbank.org:8080/BPMtool/BPM_AppFolder/As Is/Main/BR/"/>
    <!-- FOR XP -->
    <!--<add key="ACCESSCONTROLMAP_PATH" value="C:\Program Files\IBM\Rational\System Architect Suite\System Architect\accesscontrolmap.xml" />-->
    <!-- FOR WIN7 -->
    <add key="ACCESSCONTROLMAP_PATH" value="C:\Program Files (x86)\IBM\Rational\System Architect Suite\System Architect\accesscontrolmap.xml"/>
    <add key="WEB_MODE" value="ASIS"/>
    <!-- FOR ASIS -->
    <add key="HOMEPAGE_ID" value="281319"/>
    <!-- FOR TOBE -->
    <!--<add key="HOMEPAGE_ID" value="70342"/>-->
    <!--<add key="HOMEPAGE_ID" value="176051" />-->
    <!-- FOR ASIS-FULL -->
    <!--<add key="HOMEPAGE_ID" value="70342"/>-->
    <!-- FOR EA FRAMEWORK -->
    <!--<add key="HOMEPAGE_ID" value="28280"/>-->
    <add key="TITLE" value="As-Is"/>
    <add key="SHOWRESIZE" value="true"/>
  </appSettings>
  <menufilters>
    <parentMenuFilters>
      <add name="YourdonDeMarco" id="2"/>
      <add name="Network Concept" id="88"/>
      <add name="System Context" id="81"/>
      <!--<add name="Organizational Chart" id="93" />-->
    </parentMenuFilters>
    <!--<groupMenuFilters>
      <add targetType="142" propertyName="Group Category" propertyValue="CTL" />
      <add targetType="111" propertyName="Group Category" propertyValue="CTL" />
    </groupMenuFilters>-->
  </menufilters>
  <initDiagrams>
    <leftGroup name="Core Business Process" cssClass="top-grouping">
      <add name="Program / Project Processing And Implementation" color="#0000ff"/>
      <add name="Project Procurement" color="#ffff99"/>
      <add name="Program / Project Finance" color="#00cc00"/>
      <add name="Knowledge Management" color="#FFFFFF"/>
    </leftGroup>
    <rightGroup name="Shared Services" cssClass="top-grouping right">
      <add name="Business Management" color="#ffffff"/>
      <add name="Human Resource" color="#ffffff"/>
      <add name="Internal Service Management" color="#ffffff"/>
      <add name="Internal Financial Management" color="#ffffff"/>
      <add name="Compliance Management" color="#ffffff"/>
      <add name="IT Management" color="#ffffff"/>
    </rightGroup>
  </initDiagrams>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--<identity impersonate="true" userName="adb\sa_admin" password="NyQuill01" />-->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="On" defaultRedirect="Error.htm">
      <error statusCode="404" redirect="Error.htm"/>
    </customErrors>
    <httpHandlers>
      <add verb="*" path="typps.axd" type="Typps.WebResourceHandler"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add verb="*" path="typps.axd" type="Typps.WebResourceHandler" name="WebResourceHandler" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
</configuration>