<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="menufilters" type="ADB.SA.Reports.Configuration.MenuFilterSection, ADB.SA.Reports.Configuration" />
  </configSections>
  <connectionStrings>
    <add name="Publisher" connectionString="Data Source=WPSQL1\SA;Initial Catalog=ToBe-P3M;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <cachingConfiguration defaultCacheManager="DefaultCache">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="Null Storage"
        type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="DefaultCache" />
    </cacheManagers>
    <backingStores>
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Null Storage" />
    </backingStores>
  </cachingConfiguration>
  <menufilters>
    <parentMenuFilters>
      <add name="YourdonDeMarco" id="2" />
    </parentMenuFilters>
    <!--<groupMenuFilters>
      <add targetType="142" propertyName="Group Category" propertyValue="CTL" />
      <add targetType="111" propertyName="Group Category" propertyValue="CTL" />
    </groupMenuFilters>-->
  </menufilters>
  <appSettings>
    <add key="HOME_DESCRIPTION" value="Business process management is a field of management focused on aligning organizations with the wants and needs of clients. It is a holistic management approach that promotes business effectiveness and efficiency while striving for innovation, flexibility and integration with technology. As organizations strive for attainment of their objectives, business process management attempts to continuously improve processes - the process to define, measure and improve your processes – a 'process optimization' process."/>
    <add key="MAPPINGTOOL_URL" value="http://wpbpm2:8080/BPMtool/BPM_AppFolder/As Is/Main/BR/" />
    <add key="ACCESSCONTROLMAP_PATH" value="C:\Program Files\Telelogic\System Architect Suite\System Architect\accesscontrolmap.xml" />
    <add key="WEB_MODE" value="ASIS"/>
    <!-- FOR ASIS -->
    <add key="HOMEPAGE_ID" value="281319"/>
    <!-- FOR TOBE -->
    <!--<add key="HOMEPAGE_ID" value="70342"/>-->
    <!--<add key="HOMEPAGE_ID" value="176051"/>-->
    <add key="TITLE" value="As-Is"/>
  </appSettings>
</configuration>